<form method="post" action="{{ path('app_tuto_delete', {'id': tuto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tuto.id) }}">
    <button class="btn">Delete</button>
</form>
