{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tutoshow.css') }}">
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block title %}Historique{% endblock %}

{% block body %}
    <h1>Historique des tutoriels consultés</h1>

    {% if tutos is empty %}
        <p>Aucun tutoriel consulté.</p>
    {% else %}
        <ul class="tuto-history-list">
            {% for tuto in tutos %}
                <li class="tuto-history-item">
                    <a href="{{ path('app_tuto_show', {'id': tuto.id}) }}" class="tuto-history-link">
                        {{ tuto.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


